<div class="content">
  <div class="message">
    <span>{{message}}</span>
  </div>
  <div class="ok">
    <button mat-raised-button (click)="ok()">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>